<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/2001/REC-xhtml11-20010531/DTD/xhtml11-flat.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Language" content="en-gb" />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" href="{relocatable: default.css}" type="text/css" media="screen" />
    <title>Profligacy: {title: }</title>
  </head>
  <body>

    <div id="content">
      <div id="search">
      </div>
      <div id="header">
        <h1>Profligacy</h1>
        <p>the world needs less swing</p>
      </div>

      <div id="body">
        <div id="links">
          <p>
          <a href="{relocatable: /index.html}">home</a><br/>
          about Profligacy
          <br/><br/>
          <a href="{relocatable: /docs.html}">docs</a><br/>
          API and other info
          <br/><br/>
          <a href="{relocatable: /sample.html}">sample</a><br/>
          get the idea
          <br/><br/>
          <a href="{relocatable: /lel.html}">LEL</a><br/>
          cream for layouts
          <br/><br/>
          <a href="{relocatable: /project.html}">project</a><br/>
          rubyforge project page
          <br/><br/>
          <a href="{relocatable: /credit.html}">credit</a><br/>
          people who helped
          <br/><br/>
          <a href="{relocatable: /profligacy.html}">origins</a><br/>
          what a stupid name
          <br/><br/>
          <a href="/">iHate...</a><br/>
          uses this
          <br/><br/>
          </p>
        </div>
        <div id="main">
          {block: }
        </div>
      </div>
      <div id="footer">
        Copyright © 2007 Zed A. Shaw. All Rights Reserved.<br/>
        Design by <a href="http://www.mdibb.net" title="Website of Matt Dibb">Matt Dibb</a> 2006.
      </div>
    </div>
  </body>
</html>
